In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

//anaconda/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
//anaconda/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [5]:
s = pd.Series([1,2,3,4,5,np.nan,7,8])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    7.0
7    8.0
dtype: float64

In [9]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.419351  0.017531 -0.810126 -0.471349
2013-01-02  0.405894 -0.139661 -1.768084 -0.307015
2013-01-03  0.484116  0.679913 -0.396697  0.336091
2013-01-04 -0.519308 -1.152651 -0.103514  0.821592
2013-01-05 -1.756333 -1.337257 -0.660678  0.658578
2013-01-06  1.083679 -0.697256 -0.105887  0.441531

In [14]:
df2 = pd.DataFrame({ 'A' : 1.,
                         'B' : pd.Timestamp('20130102'),
                         'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                         'D' : np.array([3] * 4,dtype='int32'),
                         'E' : pd.Categorical(["test","train","test","train"]),
                         'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [15]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [18]:
df.head(1)

                   A         B         C         D
2013-01-01 -0.419351  0.017531 -0.810126 -0.471349

In [17]:
df.tail(1)

                   A         B         C         D
2013-01-06  1.083679 -0.697256 -0.105887  0.441531

In [19]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [22]:
df.values

array([[-0.41935123,  0.01753082, -0.81012606, -0.47134934],
       [ 0.40589389, -0.13966147, -1.76808437, -0.30701546],
       [ 0.48411646,  0.67991273, -0.39669687,  0.33609064],
       [-0.51930807, -1.15265057, -0.10351421,  0.8215917 ],
       [-1.7563325 , -1.33725718, -0.66067781,  0.65857831],
       [ 1.08367883, -0.69725569, -0.10588683,  0.44153106]])

In [23]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.120217 -0.438230 -0.640831  0.246571
std    1.001699  0.765878  0.621970  0.523123
min   -1.756333 -1.337257 -1.768084 -0.471349
25%   -0.494319 -1.038802 -0.772764 -0.146239
50%   -0.006729 -0.418459 -0.528687  0.388811
75%    0.464561 -0.021767 -0.178589  0.604317
max    1.083679  0.679913 -0.103514  0.821592

In [24]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.419351    0.405894    0.484116   -0.519308   -1.756333    1.083679
B    0.017531   -0.139661    0.679913   -1.152651   -1.337257   -0.697256
C   -0.810126   -1.768084   -0.396697   -0.103514   -0.660678   -0.105887
D   -0.471349   -0.307015    0.336091    0.821592    0.658578    0.441531

In [29]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.471349 -0.810126  0.017531 -0.419351
2013-01-02 -0.307015 -1.768084 -0.139661  0.405894
2013-01-03  0.336091 -0.396697  0.679913  0.484116
2013-01-04  0.821592 -0.103514 -1.152651 -0.519308
2013-01-05  0.658578 -0.660678 -1.337257 -1.756333
2013-01-06  0.441531 -0.105887 -0.697256  1.083679

In [38]:
df.sort_values(by='D')

                   A         B         C         D
2013-01-04 -0.519308 -1.152651 -0.103514  0.821592
2013-01-05 -1.756333 -1.337257 -0.660678  0.658578
2013-01-06  1.083679 -0.697256 -0.105887  0.441531
2013-01-03  0.484116  0.679913 -0.396697  0.336091
2013-01-02  0.405894 -0.139661 -1.768084 -0.307015
2013-01-01 -0.419351  0.017531 -0.810126 -0.471349

In [43]:
df['A']
df.B

2013-01-01    0.017531
2013-01-02   -0.139661
2013-01-03    0.679913
2013-01-04   -1.152651
2013-01-05   -1.337257
2013-01-06   -0.697256
Freq: D, Name: B, dtype: float64

In [53]:
df[0:2]

                   A         B         C         D
2013-01-01 -0.419351  0.017531 -0.810126 -0.471349
2013-01-02  0.405894 -0.139661 -1.768084 -0.307015

In [54]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.405894 -0.139661 -1.768084 -0.307015
2013-01-03  0.484116  0.679913 -0.396697  0.336091
2013-01-04 -0.519308 -1.152651 -0.103514  0.821592

In [56]:
df.loc[dates[1]]

A    0.405894
B   -0.139661
C   -1.768084
D   -0.307015
Name: 2013-01-02 00:00:00, dtype: float64

In [57]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -0.419351  0.017531
2013-01-02  0.405894 -0.139661
2013-01-03  0.484116  0.679913
2013-01-04 -0.519308 -1.152651
2013-01-05 -1.756333 -1.337257
2013-01-06  1.083679 -0.697256

In [58]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  0.405894 -0.139661
2013-01-03  0.484116  0.679913
2013-01-04 -0.519308 -1.152651

In [59]:
df.loc['20130102',['A','B']]

A    0.405894
B   -0.139661
Name: 2013-01-02 00:00:00, dtype: float64

In [60]:
df.loc[dates[0],'A']

-0.41935123178889983

In [61]:
df.at[dates[0],'A']

-0.41935123178889983

In [64]:
df.iloc[3]

A   -0.519308
B   -1.152651
C   -0.103514
D    0.821592
Name: 2013-01-04 00:00:00, dtype: float64

In [67]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -0.519308 -1.152651
2013-01-05 -1.756333 -1.337257

In [68]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  0.405894 -1.768084
2013-01-03  0.484116 -0.396697
2013-01-05 -1.756333 -0.660678

In [69]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02  0.405894 -0.139661 -1.768084 -0.307015
2013-01-03  0.484116  0.679913 -0.396697  0.336091

In [71]:
df.iloc[:,0:3]

                   A         B         C
2013-01-01 -0.419351  0.017531 -0.810126
2013-01-02  0.405894 -0.139661 -1.768084
2013-01-03  0.484116  0.679913 -0.396697
2013-01-04 -0.519308 -1.152651 -0.103514
2013-01-05 -1.756333 -1.337257 -0.660678
2013-01-06  1.083679 -0.697256 -0.105887

In [72]:
df.iloc[1,1]

-0.1396614726253024

In [73]:
df.iat[1,1]

-0.1396614726253024

In [74]:
df[df.A > 0]

                   A         B         C         D
2013-01-02  0.405894 -0.139661 -1.768084 -0.307015
2013-01-03  0.484116  0.679913 -0.396697  0.336091
2013-01-06  1.083679 -0.697256 -0.105887  0.441531

In [75]:
df[df > 0]

                   A         B   C         D
2013-01-01       NaN  0.017531 NaN       NaN
2013-01-02  0.405894       NaN NaN       NaN
2013-01-03  0.484116  0.679913 NaN  0.336091
2013-01-04       NaN       NaN NaN  0.821592
2013-01-05       NaN       NaN NaN  0.658578
2013-01-06  1.083679       NaN NaN  0.441531

In [77]:
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01 -0.419351  0.017531 -0.810126 -0.471349    one
2013-01-02  0.405894 -0.139661 -1.768084 -0.307015    one
2013-01-03  0.484116  0.679913 -0.396697  0.336091    two
2013-01-04 -0.519308 -1.152651 -0.103514  0.821592  three
2013-01-05 -1.756333 -1.337257 -0.660678  0.658578   four
2013-01-06  1.083679 -0.697256 -0.105887  0.441531  three

In [80]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03  0.484116  0.679913 -0.396697  0.336091   two
2013-01-05 -1.756333 -1.337257 -0.660678  0.658578  four

In [81]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [86]:
df['F'] = s1
df

                   A         B         C         D    F
2013-01-01 -0.419351  0.017531 -0.810126 -0.471349  NaN
2013-01-02  0.405894 -0.139661 -1.768084 -0.307015  1.0
2013-01-03  0.484116  0.679913 -0.396697  0.336091  2.0
2013-01-04 -0.519308 -1.152651 -0.103514  0.821592  3.0
2013-01-05 -1.756333 -1.337257 -0.660678  0.658578  4.0
2013-01-06  1.083679 -0.697256 -0.105887  0.441531  5.0

In [87]:
df.iat[0,1] = 0
df

                   A         B         C         D    F
2013-01-01 -0.419351  0.000000 -0.810126 -0.471349  NaN
2013-01-02  0.405894 -0.139661 -1.768084 -0.307015  1.0
2013-01-03  0.484116  0.679913 -0.396697  0.336091  2.0
2013-01-04 -0.519308 -1.152651 -0.103514  0.821592  3.0
2013-01-05 -1.756333 -1.337257 -0.660678  0.658578  4.0
2013-01-06  1.083679 -0.697256 -0.105887  0.441531  5.0

In [89]:
df.loc[:,'D'] = np.array([5] * len(df))
df

                   A         B         C  D    F
2013-01-01 -0.419351  0.000000 -0.810126  5  NaN
2013-01-02  0.405894 -0.139661 -1.768084  5  1.0
2013-01-03  0.484116  0.679913 -0.396697  5  2.0
2013-01-04 -0.519308 -1.152651 -0.103514  5  3.0
2013-01-05 -1.756333 -1.337257 -0.660678  5  4.0
2013-01-06  1.083679 -0.697256 -0.105887  5  5.0

In [90]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D    F
2013-01-01 -0.419351  0.000000 -0.810126 -5  NaN
2013-01-02 -0.405894 -0.139661 -1.768084 -5 -1.0
2013-01-03 -0.484116 -0.679913 -0.396697 -5 -2.0
2013-01-04 -0.519308 -1.152651 -0.103514 -5 -3.0
2013-01-05 -1.756333 -1.337257 -0.660678 -5 -4.0
2013-01-06 -1.083679 -0.697256 -0.105887 -5 -5.0

In [93]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

                   A         B         C  D    F    E
2013-01-01 -0.419351  0.000000 -0.810126  5  NaN  1.0
2013-01-02  0.405894 -0.139661 -1.768084  5  1.0  1.0
2013-01-03  0.484116  0.679913 -0.396697  5  2.0  NaN
2013-01-04 -0.519308 -1.152651 -0.103514  5  3.0  NaN

In [94]:
df1.dropna(how='any')

                   A         B         C  D    F    E
2013-01-02  0.405894 -0.139661 -1.768084  5  1.0  1.0

In [95]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2013-01-01 -0.419351  0.000000 -0.810126  5  5.0  1.0
2013-01-02  0.405894 -0.139661 -1.768084  5  1.0  1.0
2013-01-03  0.484116  0.679913 -0.396697  5  2.0  5.0
2013-01-04 -0.519308 -1.152651 -0.103514  5  3.0  5.0

In [96]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

In [97]:
df.mean()

A   -0.120217
B   -0.441152
C   -0.640831
D    5.000000
F    3.000000
dtype: float64

In [98]:
df.mean(1)

2013-01-01    0.942631
2013-01-02    0.899630
2013-01-03    1.553466
2013-01-04    1.244905
2013-01-05    1.049147
2013-01-06    2.056107
Freq: D, dtype: float64

In [99]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [100]:
df.sub(s, axis='index')

                   A         B         C    D    F
2013-01-01       NaN       NaN       NaN  NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03 -0.515884 -0.320087 -1.396697  4.0  1.0
2013-01-04 -3.519308 -4.152651 -3.103514  2.0  0.0
2013-01-05 -6.756333 -6.337257 -5.660678  0.0 -1.0
2013-01-06       NaN       NaN       NaN  NaN  NaN

In [101]:
df

                   A         B         C  D    F
2013-01-01 -0.419351  0.000000 -0.810126  5  NaN
2013-01-02  0.405894 -0.139661 -1.768084  5  1.0
2013-01-03  0.484116  0.679913 -0.396697  5  2.0
2013-01-04 -0.519308 -1.152651 -0.103514  5  3.0
2013-01-05 -1.756333 -1.337257 -0.660678  5  4.0
2013-01-06  1.083679 -0.697256 -0.105887  5  5.0

In [102]:
df.apply(np.cumsum)

                   A         B         C   D     F
2013-01-01 -0.419351  0.000000 -0.810126   5   NaN
2013-01-02 -0.013457 -0.139661 -2.578210  10   1.0
2013-01-03  0.470659  0.540251 -2.974907  15   3.0
2013-01-04 -0.048649 -0.612399 -3.078422  20   6.0
2013-01-05 -1.804981 -1.949656 -3.739099  25  10.0
2013-01-06 -0.721303 -2.646912 -3.844986  30  15.0

In [103]:
df.apply(lambda x: x.max() - x.min())

A    2.840011
B    2.017170
C    1.664570
D    0.000000
F    4.000000
dtype: float64

                   A         B         C  D    F
2013-01-01 -0.419351  0.000000 -0.810126  5  NaN
2013-01-02  0.405894 -0.139661 -1.768084  5  1.0
2013-01-03  0.484116  0.679913 -0.396697  5  2.0
2013-01-04 -0.519308 -1.152651 -0.103514  5  3.0
2013-01-05 -1.756333 -1.337257 -0.660678  5  4.0
2013-01-06  1.083679 -0.697256 -0.105887  5  5.0

In [105]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    6
1    1
2    0
3    5
4    4
5    0
6    0
7    5
8    3
9    3
dtype: int64

In [106]:
s.value_counts()

0    3
5    2
3    2
6    1
4    1
1    1
dtype: int64

In [107]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [112]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0 -1.030103  0.755219 -0.004987  0.310052
1  0.552532  0.128797  0.466944  0.163944
2  0.733767  1.264618 -0.369393  1.106516
3  0.947949  0.185358  0.248768 -0.128014
4 -0.789758 -0.004320 -0.456823  0.117367
5 -0.220563  1.388877  0.697441 -0.319882
6  1.459152  0.137397  0.173776  0.629481
7 -0.492096  0.449701 -1.864481 -1.392828
8  0.068174 -0.799826  0.426981 -0.263039
9 -0.595354  0.693442  0.821393 -0.246041

In [114]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0 -1.030103  0.755219 -0.004987  0.310052
 1  0.552532  0.128797  0.466944  0.163944
 2  0.733767  1.264618 -0.369393  1.106516,
           0         1         2         3
 3  0.947949  0.185358  0.248768 -0.128014
 4 -0.789758 -0.004320 -0.456823  0.117367
 5 -0.220563  1.388877  0.697441 -0.319882
 6  1.459152  0.137397  0.173776  0.629481,
           0         1         2         3
 7 -0.492096  0.449701 -1.864481 -1.392828
 8  0.068174 -0.799826  0.426981 -0.263039
 9 -0.595354  0.693442  0.821393 -0.246041]

In [115]:
pd.concat(pieces)

          0         1         2         3
0 -1.030103  0.755219 -0.004987  0.310052
1  0.552532  0.128797  0.466944  0.163944
2  0.733767  1.264618 -0.369393  1.106516
3  0.947949  0.185358  0.248768 -0.128014
4 -0.789758 -0.004320 -0.456823  0.117367
5 -0.220563  1.388877  0.697441 -0.319882
6  1.459152  0.137397  0.173776  0.629481
7 -0.492096  0.449701 -1.864481 -1.392828
8  0.068174 -0.799826  0.426981 -0.263039
9 -0.595354  0.693442  0.821393 -0.246041

In [116]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
left

   key  lval
0  foo     1
1  foo     2

In [117]:
right

   key  rval
0  foo     4
1  foo     5

In [118]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [119]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

          A         B         C         D
0 -1.678274  0.596206 -1.427329 -1.020719
1 -2.515468  0.114692  1.437621  2.129440
2  0.112553  0.934771  0.123465  1.670129
3  0.498482 -1.778297  0.239229 -1.047694
4 -1.618755 -1.296328  0.306777  0.347734
5 -0.726679 -1.048949  0.106706 -0.394108
6 -0.885141  1.004773 -0.751074  0.620695
7  0.097314  2.320315 -0.910052  2.264433

In [120]:
s = df.iloc[3]
df.append(s, ignore_index=True)

          A         B         C         D
0 -1.678274  0.596206 -1.427329 -1.020719
1 -2.515468  0.114692  1.437621  2.129440
2  0.112553  0.934771  0.123465  1.670129
3  0.498482 -1.778297  0.239229 -1.047694
4 -1.618755 -1.296328  0.306777  0.347734
5 -0.726679 -1.048949  0.106706 -0.394108
6 -0.885141  1.004773 -0.751074  0.620695
7  0.097314  2.320315 -0.910052  2.264433
8  0.498482 -1.778297  0.239229 -1.047694